body {
  margin: 1rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
}

#search-bar {
  margin-bottom: 1rem;
  display: flex;
  height: 1.5rem;
}

#search {
  margin-right: 1rem;
}

#search::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  background: url('../cancel.png') no-repeat center center; 
  background-size: 20px 20px; 
  width: 20px; 
  height: 20px; 
  cursor: pointer; 
}

button {
  margin-right: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  font-size: 20px;
}

.material-icons {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

#filter {
  border: 1px solid black;
  background-color: rgb(248, 208, 215);
  margin-bottom: 1rem;
  padding: 1rem;
  display: none;
  overflow: hidden;
}

#filter.show {
  opacity: 1; 
  display: block; 
}

#table {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse; 
  margin: 0 auto; 
  background-color: azure;
}

#table td, #table th {
  padding: .2rem; 
  border: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 66px;
  background-position: 0% 0%;
  border: 1px solid white;
  border-radius: 4px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
  color: white;
  font-size: 12px;
}

.abilities {
  display: block;
}

.tag {
  background-color: #CEBC77;
  background-position: 0% 0%;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
  width: auto;
  padding: .2rem .5rem;
  margin-right: .1rem;
}